@font-face {
    font-family: helveticaCond;
    src: url(helvetica-condensed-bold-webfont.woff);
}

body {
    font-family: helveticaCond;
    background-color: #000000;
    font-size: 12pt;
    margin: 0 !important;
    padding: 0 !important;
    color: #ffffff;
}

input[type="text"] {
    font-family: helveticaCond;
    font-size:12pt;
    border-style: none;
    outline: none;
    padding: 0px;
    background-color: transparent;
}

#word-scroll-area {
    width: 350px;
    height: 100%;
    position: absolute;
    top: 0; left: 50%;
    margin-top: 0px;
    margin-left: -175px;
    background-color: #ffff00;
}

#word-scroll {
    width: 700px;
    height: 100%;
    position: absolute;
    top: 0; left: 50%;
    margin-top: 0px;
    margin-left: -350px;
    text-align: center;
    white-space: nowrap;
    font-size: 14pt;
    color: #000000;
}

#word-scroll-crop {
    width: 350px;
    height: 100%;
    position: absolute;
    top: 0; left: 50%;
    margin-top: 0px;
    margin-left: -175px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14pt;
}


#highlighter {
    width: 100%;
    height: 125px;
    position: absolute;
    top: 50%; left: 0;
    margin-top: -62px;
    margin-left: 0px;
    background-color: #00ffff
}

#colorbox {
    width: 350px;
    height: 125px;
    position: absolute;
    top: 50%; left: 50%;
    margin-top: -62px;
    margin-left: -175px;
    background-color: #00ff00
}

.content-area {
    width: -moz-calc(50% - 175px - 10px);
    width: -webkit-calc(50% - 175px - 10px);
    width: calc(50% - 175px - 10px);
    height: -moz-calc(50% - 62px - 10px);
    height: -webkit-calc(50% - 62px - 10px);
    height: calc(50% - 62px - 10px);
    overflow: hidden;
    pointer-events: none;
}

.content-area * {
    pointer-events: auto;
}

.search-area {
    width: -moz-calc(50% - 175px - 10px);
    width: -webkit-calc(50% - 175px - 10px);
    width: calc(50% - 175px - 10px);
    height: 125px;
    overflow: hidden;
    margin-top: -62px;
    pointer-events: none;
}

.search-area * {
    pointer-events: auto;
}

.upper-left {
    position: absolute;
    top: 5px; left: 5px;
}

.mid-left {
    position: absolute;
    top: 50%; left: 5px;
}

.mid-right {
    position: absolute;
    top: 50%; left: 50%;
    margin-left: 175px;
}

.bottom-left {
    position: absolute;
    top: 50%; left: 5px;
    margin-top: 62px;
}

.bottom-right {
    position: absolute;
    top: 50%; left: 50%;
    margin-top: 62px;
    margin-left: 175px;
}

.player-container {
    visibility: hidden;
}

#searchbar-container {
    position: relative;
    top: 50%;
    width: 100%;
    margin-top: -10px;
}

.keyword-input {
    text-align: center;
    width: 100%;
}

.statusbox {
    vertical-align: bottom;
    position: relative;
    top: 100%;
    height: 20px;
    margin-top: -20px;
    text-align: center;
}

.word-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.stream-word:hover {
    cursor: pointer;
    color: #aaaaaa;
}

